
<footer class="fixed bottom-0 left-0 z-20 w-full p-1 bg-pandablack border-t border-pandablue shadow md:flex md:items-center md:justify-between md:p-2 ">
    <ul class="flex flex-wrap justify-center items-center mt-3 text-sm font-medium text-pandawhite sm:mt-0">
        <li>
            <%= link_to "PRIVACY-POLICY", privacy_policy_path,class:"mr-4 hover:underline md:pb-10 md:mr-6" %>
        </li>
    </ul>
    <div class="flex flex-wrap justify-center">
    <span class=" text-sm text-pandawhite sm:text-center p-2">©<a href="#" class="hover:underline"><b>Dan Odin </b> </a> All Rights Reserved.
    </span></div>
    
</footer>
