
<nav class="bg-pandablack fixed w-full z-20 top-0 left-0">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
   <button data-collapse-toggle="navbar-sticky" type="button" class="mobile-menu-button inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-pandablue focus:outline-none focus:ring-1 focus:ring-pandablue" aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <img src="https://cdn-eu.icons8.com/4-KnR6g-MES0hPuopQkZ0A/dvbdz_EP2UWlKa3z4jMJng/Group_4_Copy.png">
    </button>
  <a href="#" class="flex items-center">
      <%= image_tag "panda_with_shades_and_moon.png", class:"h-8 mr-3", alt:"Panda with moon"%>
      <span class="Title-Nav self-center lg:pr-28 text-2xl font-semibold whitespace-nowrap dark:text-white">Dan Odin</span>
  </a>

  
  <div class="flex md:order-2 text-sm flex-row  p-4  md:p-2 mt-0 md:flex-row md:space-x-8 md:mt-0 md:border-0">
  
      <ul>
        <a href="#" > <img src="https://cdn-eu.icons8.com/4-KnR6g-MES0hPuopQkZ0A/OBX6WZ9iEUe4VuOVec2mjg/Shape.png" class="h-4 mr-3" alt="Telegram" /></a>
      </ul>

      <ul>
        <a href="#" > <img src="https://cdn-eu.icons8.com/4-KnR6g-MES0hPuopQkZ0A/FnlSBtAVUka_C4p0EF8q_A/X.png" class="h-5 mr-3" alt="X.com" /></a>
      </ul>

      <ul>
        <a href="#" > <img src="https://cdn-eu.icons8.com/4-KnR6g-MES0hPuopQkZ0A/8-DdIX5n1k6JWDW32qw23g/Shape.png" class="h-4 mr-3" alt="Instagram" /></a>
      </ul>

      <ul>
        <a href="#" > <img src="https://cdn-eu.icons8.com/4-KnR6g-MES0hPuopQkZ0A/8kOLgUwe1U2e2oQnqkRYXg/Shape.png" class="h-4 mr-3" alt="GitHub" /></a>
      </ul>

     
  </div>
  <div class="items-center justify-between hidden mobile-menu w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
    <ul class="flex flex-col p-4 md:p-0 mt-4 font-semibold text-1xl lg:text-2xl md:flex-row md:space-x-8 md:mt-0 md:border-0 ">
      <li>
        <a href="#" class="block py-2 pl-3 pr-4 text-pandawhite rounded md:bg-transparent md:p-0 hover:bg-pandablue md:hover:bg-transparent md:hover:text-pandablue" aria-current="page">GAMES</a>
      </li>
      <li>
        <a href="#" class="block py-2 pl-3 pr-4 text-pandawhite hover:bg-pandablue md:hover:bg-transparent md:hover:text-pandablue rounded md:p-0 ">ABOUT</a>
      </li>
      <li>
        <a href="#" class="block py-2 pl-3 pr-4 text-pandawhite hover:bg-pandablue md:hover:bg-transparent md:hover:text-pandablue rounded md:p-0">CONTACT</a>
      </li>

      
    </ul>
  </div>
  </div>
    <script>
	    const btn = document.querySelector("button.mobile-menu-button");
	    const menu = document.querySelector(".mobile-menu");

	    btn.addEventListener("click", () => {
	    menu.classList.toggle("hidden");
	  });
</script>
</nav>
