<div class="container lg:px-56 pb-16 mx-auto text-center  my-12">


    <h1 class="text-4xl font-bold mb-6">DAN ODIN</h1>
    <p class="text-lg mb-4">From Lagos, Nigeria, I love making games in my free time. When not making games, I work as a freelance software engineer for clients.</p>
    <p class="text-lg mb-4">My main mission is to create fun, challenging, interactive, and sometimes story-driven games that could help improve the human mind, shaping how humans think and understand the world and themselves from a better perspective - one that unites all beliefs.</p>
    <p class="text-lg mb-4">With that, I also seek to expose the heroes of Africa through my games, to create new heroes, stories of Africa in Africa, and deliver them in the highest quality to the world.</p>

    <p class="text-lg mb-4">I have been in constant development and learning to program from the very young age of 13. All on this site may suggest something else, but the road to here has been filled with all sorts of lessons and falls.</p>
    <p class="text-lg">So, in this new beginning, I am going to show the world that <br><span class="font-bold">Something Good Can Work</span>.</p>
    <div class="pb-10">
      <div class=" mx-auto mt-12 shadow-inner shadow-green-700 pb-10 p-4 border rounded-lg">
    <h2 class="text-2xl font-bold mb-4">My Tools</h2>
    <div class="mb-4">
        <h3 class="text-lg font-semibold">GAME DEVELOPMENT</h3>
        <div>GODOT, PYGAME</div>
    </div>
    <div class="mb-4">
        <h3 class="text-lg font-semibold">MOBILE & DESKTOP DEVELOPMENT</h3>
        <div>FLUTTER</div>
    </div>
    <div class="mb-4">
        <h3 class="text-lg font-semibold">BACK-END DEVELOPMENT</h3>
        <div>RUBY ON RAILS, FIREBASE</div>
    </div>
    <div class="mb-4">
        <h3 class="text-lg font-semibold">FRONT-END WEB DEVELOPMENT</h3>
        <div>HTML, CSS, BOOTSTRAP, TAILWINDCSS</div>
    </div>
    <div class="mb-4">
        <h3 class="text-lg font-semibold">ART & DESIGN</h3>
        <div>KRITA, INKSCAPE, LUNACY, BLENDER 3D</div>
    </div>
    <div class="mb-4">
        <h3 class="text-lg font-semibold">MUSIC</h3>
        <div>BANDLAB</div>
    </div>
    <div>
        <h3 class="text-lg font-semibold">COMPUTER LANGUAGES</h3>
        <div>GDSCRIPT, RUBY, PYTHON, DART, JAVASCRIPT</div>
    </div>
</div>
    <div class="flex justify-center py-10 ">
        <%= image_tag "ddpg.png" , class:"h-40", alt:"Dan n Panda" %>
        
    </div>

    <p class="text-xl text-center pt-3">For the <i><b>Love</b></i> of building fun and challenging games,<br>I pledge my endless passion.</p>
    <br>

    
</div>

<p class="text-lg text-center pt-5 pb-3">Like What I Do? </p>
<br>

    <a href="https://www.buymeacoffee.com/danodin69" class="inline-flex items-center  px-5 py-3 text-sm font-medium text-center text-white bg-green-700 rounded-lg  focus:ring-2 focus:outline-none focus:ring-pandawhite">

                <span class="h-8"><%= image_tag "bmc.png", class:" h-8 mr-3"%></span>
               

                Buy me Cociane - *A Coffee

            </a>
    
    
    
</div>
