<% set_meta_tags title: 'Contact Dan Odin', description: 'ʕ⁠·⁠ᴥ⁠·⁠ʔ For Business, Press, Privacy Policy or you need Support for one of my games' %>


<div class="max-w-md mx-auto mt-8 p-6 bg-pandablack text-white shadow-md rounded-lg text-center">
  <h2 class="text-2xl font-semibold mb-4">CONTACT ME</h2>
  

  <p class="my-4">For Business, Press, Privacy Policy or you need Support for one of my games</p>
  <hr class="my-2 border-t-1 border-gray-400">

  <a href="mailto:danphilodin@gmail.com" class="my-4 text-white underline font-bold ">Send Email</a>
  <hr class="my-2 border-t-1 border-gray-400">

  <p class="my-4">I check my emails every 6 am, 12 pm, 6 pm WAT.</p>


  <p class="my-4">If it is really <i><b>urgent</b></i>, contact me on Telegram</p>
  <hr class="my-2 border-t-1 border-gray-400">
  <a href="https://t.me/DanOdin" class="text-white underline font-bold"> Send Direct Message</a>
  <hr class="my-2 border-t-1 border-gray-400">

  <p class="mt-4">Go through the anti-spam screening, After which I will reply in minutes.</p>
</div>
