@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* body {
    scroll-behavior: smooth !important;
    @apply scroll-smooth;

  } */

  html {
    @apply bg-pandablack;
    @apply scroll-smooth !important;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth !important;
    @apply text-pandawhite;
  }

  .Title-Nav {
    font-family: BOBCAT !important;
    src: url("app/assets/stylesheets/BOBCAT.TTF") format("TrueType");
  }

  .locus-txt {
    font-family: American Captain !important;
    src: url("app/assets/stylesheets/AmericanCaptain.ttf") format("TrueType")
  }

  .king-cards-txt {
    font-family: varieté !important;
    src: url("app/assets/stylesheets/VarieteColege-96lZ.ttf") format("TrueType")
  }


}